<form name="form-contact" class="form-validation">
  <div class="modal-header">
    <h4 class="modal-title">
      新建用户
    </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>用户名</label>
            <input type="text" ng-model="target.username" required class="form-control" placeholder="请输入用户名" >
          </div>
          <div class="col-sm-6">
            <label>真实姓名</label>
            <input type="text" ng-model="target.realname" required class="form-control" placeholder="请输入真实姓名" >
          </div>
        </div>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>密码</label>
            <input type="text" ng-model="target.password" required class="form-control" placeholder="请输入登录密码" >
          </div>
          <div class="col-sm-6">
            <label>确认密码</label>
            <input type="text" ng-model="target.password_hash" required class="form-control" placeholder="请再次输入登录密码" >
          </div>
        </div>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>手机号码</label>
            <input type="text" ng-model="target.tel" required class="form-control" placeholder="请输入手机号码" >
          </div>
          <div class="col-sm-6">
            <label>电子邮箱</label>
            <input type="text" ng-model="target.email" required class="form-control" placeholder="请输入电子邮箱" >
          </div>
        </div>
        <div class="form-group pull-in clearfix">
          <div class="col-sm-6">
            <label>角色</label>
            <ui-select multiple ng-model="multipleDemo.selectedRolesWithGroupBy" theme="bootstrap" ng-disabled="disabled">
              <ui-select-match placeholder="选择角色">{{$item.name}}</ui-select-match>
              <ui-select-choices group-by="someGroupFn" repeat="role in roles | propsFilter: {name: $select.search, age: $select.search}">
                <div ng-bind-html="role.name | highlight: $select.search"></div>
                <small> 描述: {{role.desc}} </small>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-light">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="submit" class="btn btn-success" ng-click="save()">提交</button>
  </div>
</form>
