<div>
  <div class="bg-light lter b-b wrapper-md">
    <div class="m-n font-thin h3">
      媒体账号管理
      <div class="btn-group pull-right m-l-md" ng-init="checkModel = {option1: true, option2: false}">
        <label class="btn btn-sm btn-default" ng-model="checkModel.option1" btn-checkbox>
          <i class="fa fa-th-large"></i>
        </label>
        <label class="btn btn-sm btn-info" ng-model="checkModel.option3" btn-checkbox>
          <i class="fa fa-list-ul"></i>
        </label>
      </div>
      <button class="btn btn-info pull-right" ng-click="launch('create')">
        <i class="fa fa-plus"></i><span>新增</span>
      </button>
    </div>
  </div>
  <div class="wrapper-md">
    <div class="row row-sm">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default table-wrap">
      <div class="panel-heading">
        媒体账号列表
      </div>
      <div class="row wrapper">
        <div class="col-sm-5 m-b-xs">
          <select class="input-sm form-control w-sm inline v-middle">
            <option value="0">Bulk action</option>
            <option value="1">Delete selected</option>
            <option value="2">Bulk edit</option>
            <option value="3">Export</option>
          </select>
          <button class="btn btn-sm btn-info">查询</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <thead>
            <tr>
              <th style="width:20px;">
                <label class="i-checks m-b-none">
                  <input type="checkbox"><i></i>
                </label>
              </th>
              <th>渠道名称</th>
              <th>原始ID</th>
              <th>APP ID</th>
              <th style="width:120px;">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in result['items']">
              <td>
                <label class="i-checks m-b-none">
                  <input type="checkbox" value="{{item.id}}"><i></i>
                </label>
              </td>
              <td><a ui-sref="app.detail({target: 'channels', id: '{{item.id}}'})"><span class="text-ellipsis">{{ item.name }}</span></a></td>
              <td><span class="text-ellipsis">{{ item.originid }}</span></td>
              <td><span class="text-ellipsis">{{ item.appid }}</span></td>
              <td>
                <div class="btn-group dropdown row-btn-group">
                  <button class="btn btn-success" data-toggle="dropdown">操作<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="">编辑</a></li>
                    <li><a href="">删除</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 text-left">
            <small class="text-muted inline m-t-sm m-b-sm">第{{ pagination.currentPage }}页 共{{ pagination.pageCount }}页</small>
          </div>
          <div class="col-sm-8 text-right text-center-xs">
            <div class="input-group turn-btn">
              <input type="text" class="form-control input-sm" ng-model="turnPage">
              <span class="input-group-btn">
                <button class="btn btn-sm btn-info" ng-click="setPage(turnPage)" type="button">跳转</button>
              </span>
            </div>
            <ul uib-pagination total-items="pagination.totalCount" ng-model="pagination.currentPage"
                max-size="5" items-per-page="10" class="pagination pagination-sm m-t-none m-b-none"
                ng-change="pageChanged()"
                previous-text="上一页" next-text="下一页" boundary-link-numbers="true">
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
