<div ng-controller="UserIndexCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">
      用户管理
      <button class="btn btn-info pull-right" ng-click="launch()">
        <i class="fa fa-plus"></i><span>新增</span>
      </button>
      <script type="text/ng-template" id="myModalContent.html">
        <div ng-include="'tpl/modules/users/modal.html'"></div>
      </script>
    </h1>
  </div>
  <div class="wrapper-md table-wrap">
    <div class="panel panel-default">
      <div class="panel-heading">
        用户列表
      </div>
      <div class="row wrapper">
        <div class="col-sm-12 m-b-xs">
          <input type="text" ng-model="query.keywords" placeholder="用户名/真实姓名/手机号码/电子邮箱" class="input-sm form-control w-md inline v-middle"/>
          <button class="btn btn-sm btn-info" ng-click="table_render(1)">查询</button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped b-t b-light">
          <thead>
            <tr>
              <th>用户名</th>
              <th>真实姓名</th>
              <th>手机号码</th>
              <th>电子邮箱</th>
              <th width="150">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in result['items']">
              <td><span class="text-ellipsis">{{ item.username }}</span></td>
              <td><span class="text-ellipsis">{{ item.realname }}</span></td>
              <td><span class="text-ellipsis">{{ item.tel }}</span></td>
              <td><span class="text-ellipsis">{{ item.email }}</span></td>
              <td>
                <div>
                  <button ng-click="launch(item.id)" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="编辑" class="btn btn-rounded btn-sm btn-icon btn-success">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button ng-click="del(item.id)" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="删除" class="btn btn-rounded btn-sm btn-icon btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                  </button>
                  <button tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="更多" popover-trigger="focus" popover-placement="left" uib-popover-template="'myPopoverTemplate.html'" class="btn btn-rounded btn-sm btn-icon btn-default">
                    <i class="fa fa-ellipsis-h"></i>
                  </button>
                  <script type="text/ng-template" id="myPopoverTemplate.html">
                    <button ng-click="launch(item.id)" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="编辑" class="btn btn-rounded btn-sm btn-icon btn-success">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button ng-click="del(item.id)" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="删除" class="btn btn-rounded btn-sm btn-icon btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </script>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-sm-4 text-left">
            <small class="text-muted inline m-t-sm m-b-sm">第{{ pagination.currentPage }}页 共{{ pagination.pageCount }}页</small>
          </div>
          <div class="col-sm-8 text-right text-center-xs">
            <div class="input-group turn-btn">
              <input type="text" class="form-control input-sm" ng-model="turnPage">
              <span class="input-group-btn">
                <button class="btn btn-sm btn-info" ng-click="setPage(turnPage)" type="button">跳转</button>
              </span>
            </div>
            <ul uib-pagination total-items="pagination.totalCount" ng-model="pagination.currentPage"
                max-size="5" items-per-page="10" class="pagination pagination-sm m-t-none m-b-none"
                ng-change="pageChanged()"
                previous-text="上一页" next-text="下一页" boundary-link-numbers="true">
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
