<div ng-controller="UserCtrl">
  <div class="bg-light lter b-b wrapper-md">
    <div class="m-n font-thin h3">
      媒体账号管理
      <div class="btn-group pull-right m-l-md" ng-init="checkModel = {option1: true, option2: false}">
        <label class="btn btn-sm btn-default" ng-model="checkModel.option1" btn-checkbox>
          <i class="fa fa-th-large"></i>
        </label>
        <label class="btn btn-sm btn-info" ng-model="checkModel.option3" btn-checkbox>
          <i class="fa fa-list-ul"></i>
        </label>
      </div>
      <button class="btn btn-info pull-right" ng-click="launch('create')">
        <i class="fa fa-plus"></i><span>新增</span>
      </button>
    </div>
  </div>
  <div class="wrapper-md">
    <div class="row row-sm">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
        <div class="panel b-a">
          <div class="panel-heading text-center bg-info no-border">
            <h4 class="text-u-c m-b-none">Start</h4>
            <h2 class="m-t-none">
              <sup class="pos-rlt" style="top:-22px">$</sup>
              <span class="text-2x text-lt">99</span>
              <span class="text-xs">/ mo</span>
            </h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Email preview on air
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> Spam testing and blocking
            </li>
            <li class="list-group-item">
              <i class="icon-check text-success m-r-xs"></i> 100 GB Space
            </li>
          </ul>
          <div class="panel-footer text-center">
            <a href class="btn btn-info font-bold m">Start your free trial</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        媒体账号列表
      </div>
      <div class="table-responsive" id="target_table">
        <table ui-jq="dataTable" ui-options="{{table_options}}" class="table table-striped b-t b-b">
          <thead>
            <tr>
              <th field="engine">帐号名称</th>
              <th field="browser">帐号类型</th>
              <th field="platform">媒体类型</th>
              <th field="version">原始ID</th>
              <th field="grade">原始ID</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
