#channel_detail {
  .wrapper-md {
    .tab-container {
      .tab-content {
        .tab-pane {
          .mobile-preview-wrap {
            border: solid 1px @table-border-color;
            width: 320px;
            height: 568px;
          }
          .metail-type {
            list-style: none;
            clear: both;
            height: 10px;
            li {
              float: left;
              margin-right: 20px;
              cursor: pointer;
            }
          }
          .operation-wrap {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
