.table-wrap {
  .table-responsive {

  }
  .panel-footer {
    .turn-btn {
      width: 100px;
      float: right;
      .input-sm {
        width: 42px;
        float: none;
        text-align: center;
      }
    }
  }
}
